@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css";

/* Global styles and custom styles for modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff; /* White background with opacity */
  padding: 0; /* Remove padding */
  border-radius: 0.5rem;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); Light shadow for better visual effect */
  width: 100%; /* Full width */
  max-width: 600px; /* Maximum width */
  overflow: hidden; /* Ensure no extra space is visible */
  /* backdrop-filter: blur(10px); Glassy blur effect */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Slightly darker overlay */
}

/* For the div inside modal */
.modal-content {
  background: #ffffff; /* White background with opacity */
  border-radius: 0.5rem;
  padding: 1.5rem;
  /* backdrop-filter: blur(10px); Glassy blur effect */
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); Light shadow for better visual effect */
}

/* .blur-effect{
  background: rgba(0, 127, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9px);
} */

.finwise-color{
  color: #007FFF;
}